# Node.js
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/
vendor/
yarn-error.log
.DS_Store

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# .vscode
.vscode/

# .idea
.idea/

# npm
*.npm
*.lock
